---
title: Contact
order: 2
---

<p>
  You can contact me through email on<br>
  florian at floriandejonckheere dot be
</p>

<p>
  You can also find me on <a href="https://github.com/floriandejonckheere" target="_blank">Github</a> and <a href="https://www.linkedin.com/in/floriandejonckheere/" target="_blank">LinkedIn</a>.
</p>
