---
title: Contact
order: 2
---

<p>
  You can contact me through email on<br />
  <a href="mailto:florian+portfolio@floriandejonckheere.be">florian@floriandejonckheere.be</a>
</p>

<p>
  You can also find me on <a href="https://github.com/floriandejonckheere" target="_blank">Github</a> and <a href="https://linkedin.com/floriandejonckheere" target="_blank">LinkedIn</a>.
</p>
