---
title: Home
order: 0
---

<h1>
  Hi there!<br>
  My name is Florian
</h1>
<p>
  I'm a software engineer based in Finland with a passion for building elegant and efficient apps.
  I have several years of experience working as a software engineer, and in my free time I like to learn about new technologies and build side projects.
  I enjoy a good challenge that requires creative thinking, and I'm always looking for opportunities to grow and learn.
</p>
