---
title: Home
order: 0
---

<h1>
  Hello there!<br />
  My name is Florian
</h1>
<p>
  I'm currently studying web development in Aalborg, Denmark. I like thinking about software architecture and writing dynamic web applications in <a href="http://rubyonrails.org">Ruby on Rails</a>.
</p>

<p>
  This website was custom designed and written by myself. It was realized as a practical study in typography and minimalism. Like almost all of my work, the source code is available on <a href="https://github.com/floriandejonckheere/minimalist-cover">GitHub</a>.
</p>
