---
title: Home
order: 0
---

<h1>
  Hi there!<br />
  My name is Florian
</h1>
<p>
  I'm a software engineer from Belgium. I like reflecting on software architecture, design patterns and object-oriented programming. I mainly use the <a href="https://www.ruby-lang.org/en/">Ruby</a> language to implement my ideas in both personal and professional projects.
</p>

<p>
  Currently, I'm employed by <a href="https://niprodigital.com/" target="_blank">Nipro Digital Technologies</a>, a research and development center for process-driven hemodialysis software, where I work on medical device integrations.
</p>
