---
title: Home
order: 0
---

<h1>
  Hi there!<br />
  My name is Florian
</h1>
<p>
  I'm a software engineer from Belgium. I like thinking about software architecture and design patterns. I'm currently working at <a href="https://www.nephroflow.com/">Nipro Digital Technologies</a>, a research and development center for process-driven hemodialysis software.
</p>

<p>
  This website was custom designed and written by yours truly. It was realized as a practical study in typography and minimalism. Its source code is available on <a href="https://github.com/floriandejonckheere/portfolio" target="_blank">Github</a>.
</p>
