---
title: Home
order: 0
---

<h1>
  Hello there!<br />
  My name is Florian
</h1>
<p>
  I'm a Ruby on Rails developer from Belgium. I like thinking about software architecture and design patterns. I'm currently working at <a href="https://www.nephroflow.com/">NephroFlow</a>, a process driven dialysis software solution.
</p>

<p>
  This website was custom designed and written by me. It was realized as a practical study in typography and minimalism. Like almost all of my work, the source code is available on <a href="https://github.com/floriandejonckheere/portfolio" target="_blank">Github</a>.
</p>
