<div class="portfolio two high">
  <div class="large block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/minimalist-cover.png" alt="Minimalist Cover" />
      </div>
      <div class="overlay">
        <div class="title">
          thalariond
        </div>
        <div class="description">
          Centralized user management system
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/minimalist-cover.png" alt="Minimalist Cover" />
      </div>
      <div class="overlay">
        <div class="title">
          minimalist cover
        </div>
        <div class="description">
          minimalistic cover page evolved into personal website, designed and written by hand in Angular and SASS
        </div>
        <div class="buttons">
          <a href="https://github.com/floriandejonckheere/minimalist-cover" target="_blank"><i class="fa fa-github"></i> GitHub</a>
          <a href="https://florian.dejonckhee.re" target="_blank"><i class="fa fa-globe"></i> Demo</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image slideshow">
        <img src="%%BASE_PATH%%/assets/images/thalariond-001.png" alt="thalariond" />
        <img src="%%BASE_PATH%%/assets/images/thalariond-002.png" alt="thalariond" />
      </div>
      <div class="overlay">
        <div class="title">
          thalariond
        </div>
        <div class="description">
          custom user management system for centralizing email and other services, written in pure Ruby and Ruby on Rails
        </div>
        <div class="buttons">
          <a href="https://github.com/floriandejonckheere/thalariond" target="_blank"><i class="fa fa-github"></i> GitHub</a>
          <a href="https://thalariond.staging.thalarion.be" target="_blank"><i class="fa fa-globe"></i> Online</a>
        </div>
      </div>
    </div>
  </div>
</div>
