<div class="portfolio two high">
  <div class="large block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/minimalist-cover.png" alt="Minimalist Cover" />
      </div>
      <div class="overlay">
        <div class="title">
          thalariond
        </div>
        <div class="description">
          Centralized user management system
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/minimalist-cover.png" alt="Minimalist Cover" />
      </div>
      <div class="overlay">
        <div class="title">
          thalariond
        </div>
        <div class="description">
          Centralized user management system
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/thalariond.png" alt="Minimalist Cover" />
      </div>
      <div class="overlay">
        <div class="title">
          thalariond
        </div>
        <div class="description">
          Centralized user management system
        </div>
        <div class="buttons">
          <a href="#"><i class="fa fa-code"></i> Source code</a>
          <a href="#"><i class="fa fa-globe"></i> Demo</a>
        </div>
      </div>
    </div>
  </div>
</div>
