header {
  @include animate;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-cover;
  color: white;

  height: 100vh;

  h1 {
    @include link-color(white, none);

    margin-top: auto;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: $text-xxl;
    text-transform: uppercase;
  }

  nav {
    @include animate;

    margin-top: auto;
    margin-bottom: 50vh;
  }


  &.header {
    height: 55vh;

    nav {
      margin-bottom: 0;
    }
  }
}
