/* block width */
$block-width: 350px;

/* padding between blocks */
$block-space-between: 20px;

/* hover effects */
$scale-factor: .9;
$blur-radius: 2px;

.portfolio {
  margin-top: $spacing-lg;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-content: space-between;
  align-items: space-between;
  justify-content: space-between;

  flex-flow: column wrap;

  width: (2 * $block-width) + $block-space-between;

  &.one.high   { height: $block-width; }
  &.two.high   { height: (2 * $block-width) + $block-space-between; }
  &.three.high { height: (3 * $block-width) + (2 * $block-space-between); }
  &.four.high  { height: (3 * $block-width) + (2 * $block-space-between); }

  .block {
    position: relative;

    border-radius: $border-radius;
    overflow: hidden;

    width: 350px;

    &.small { height: 350px; }
    &.large { height: 720px; }

    .image {
      position: absolute;

      /* center within fader */
      left: -25px;
      top: -25px;

      img {
        @include transition;

        @include scale($scale-factor);

        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }

    .overlay {
      @include transition;

      position: absolute;

      width: 100%;
      height: 100%;

      @include link-color(white, none);
      color: white;

      opacity: 0;
      background-color: rgba(0, 0, 0, .5);

      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        @include p-y-sm;

        width: 100%;
        text-align: center;

        font-family: 'Oswald', sans-serif;
        font-size: $text-xl;
      }

      .description {
        width: 80%;
        text-align: center;

        margin-left: auto;
        margin-right: auto;
      }

      .buttons {
        position: absolute;
        bottom: 0;

        width: 100%;

        display: flex;
        justify-content: space-between;

        a {
          @include p-lg;

          outline: none;
        }
      }
    }


    &:hover {
      .overlay { opacity: 1; }

      .image img {
        @include scale(1);

        -webkit-filter: grayscale(100%) blur($blur-radius);
        filter: grayscale(100%) blur($blur-radius);
      }
    }
  }
}
