/**
 * minimalist-cover
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

@import "variables";

@mixin device($device) {
  @if $device == handheld {
    @media only screen and (min-width: 0) { @content; }
  }
  @else if $device == tablet {
    @media only screen and (min-width: $screen-tablet) { @content; }
  }
  @else if $device == desktop {
    @media only screen and (min-width: $screen-desktop) { @content; }
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-cover;
  color: white;

  min-height: 200px;
  height: 55vh;

  h1 {
    padding-left: $spacing-md;
    padding-right: $spacing-md;

    a,
    a:hover {
      color: white;
      text-decoration: none;
      outline: none;
    }

    margin-top: auto;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: $text-xxl;
    text-transform: uppercase;
  }

  h2 {
    color: darken(white, 10%);

    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: $text-lg;
    text-transform: uppercase;

    margin-top: $spacing-xl;
    margin-bottom: auto;
  }
}

main {
  a {
    color: $color-secondary-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include device(handheld) { padding: $spacing-lg 0; }
  @include device(tablet)   { padding: $spacing-xl 0; }
  @include device(desktop)  { padding: $spacing-xxl 0; }

  /* allow main content to fill up all available space */
  flex-grow: 1;
}

article {
  text-align: center;

  margin: 0 auto;
  padding-bottom: $spacing-xxl;

  @include device(handheld) { width: 90%; }
  @include device(tablet)   { width: 80%; }
  @include device(desktop)  { width: 50%; }


  line-height: 1.25 * $text-unit;

  p {
    text-align: justify;

    &:not(:last-child) { margin-bottom: $spacing-md; }
  }

  &:not(:last-child) { border-bottom: 1px solid $color-tertiary-text; }
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;

  text-transform: uppercase;
  color: $color-secondary-text;

  margin-top: $spacing-xl;
  margin-bottom: $spacing-md;

  font-size: $text-xl;
  line-height: 100%;
}
